@{
    ViewData["Title"] = "Главная страница";
    var topConcerts = ViewBag.TopConcerts as List<Project.Models.Concert>;
}

<!-- Уведомления -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info">
        @TempData["InfoMessage"]
    </div>
}


<div class="container mt-1">
    <!-- Карусель -->
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">
            <!-- Цикл по изображениям -->
            @for (int i = 0; i < ViewBag.ConcertImages.Length; i++)
            {
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <img src="@Url.Content("~/images/carousel/" + ViewBag.ConcertImages[i])" class="d-block w-100" alt="Concert Image @(i + 1)">
                </div>
            }
        </div>

        <!-- Навигация -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

   <!-- Текст с призывом -->
    <div class="text-center my-5">
        <h1>Не пропустите лучшие события города!</h1>
        <p class="fs-5">Покупайте билеты прямо сейчас и наслаждайтесь незабываемыми моментами.</p>
        <a href="/Tickets" class="btn btn-primary btn-lg">Купить билет</a>
    </div>

    <!-- Топ-10 концертов -->
    <div>
        <h2 class="mb-4">Топ-10 концертов</h2>
        <div class="row">
            @foreach (var concert in topConcerts)
            {
                <div class="col-md-4 mb-4">
                    <div class="card h-100" style="background-image: url('@Url.Content("~/images/" + concert.ImageFileName)'); background-size: cover; background-position: center;">
                        <div class="card-body text-light">
                            <h5 class="card-title">@concert.Name</h5>
                            <p class="card-text text-muted">
                                Дата: @concert.Date.ToString("dd.MM.yyyy")<br />
                                Время: @concert.Time.ToString(@"hh\:mm")<br />
                                Место: @concert.Venue
                            </p>
                            <a href="/Concert/Details/@concert.ConcertId" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
